/**
 * 通用交互弹层样式
 */

$prefix: 'mu';
$zindex: 20161205;
$duration: 0.25s;
$theme_color: #d66868;
$icon_loading: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgxMDB2MTAwSDB6Ii8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTlFOUU5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTMwKSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iIzk4OTY5NyIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgzMCAxMDUuOTggNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjOUI5OTlBIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDYwIDc1Ljk4IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0EzQTFBMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSg5MCA2NSA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNBQkE5QUEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoMTIwIDU4LjY2IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0IyQjJCMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgxNTAgNTQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjQkFCOEI5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA1MCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDMkMwQzEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE1MCA0NS45OCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDQkNCQ0IiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTEyMCA0MS4zNCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNEMkQyRDIiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDM1IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0RBREFEQSIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgtNjAgMjQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTJFMkUyIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKC0zMCAtNS45OCA2NSkiLz48L3N2Zz4=';

@include b(#{$prefix}) {

    // body fix
    // 解决移动端打开弹层后底层页面还能上下滑动问题
    @include e(body) {
        @include m(fixed) {
            position: fixed; // 兼容safari及iPhone
            overflow-y: hidden;
            left: 0;
            right: 0;
        }
    }

    // wrap
    @include e(wrap) {
        position: relative;
        z-index: $zindex;
        font-size: 14PX;
    }

    // mask
    @include e(mask) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.7);
        transition: all $duration ease;
    }

    // container
    @include e(container) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        pointer-events: none;

        @include m(center) {
            align-items: center;
            justify-content: center;
        }

        @include m(bottom) {
            align-items: flex-end;
            justify-content: center;
        }
    }

    // main
    @include e(main) {
        pointer-events: auto;
        transition: all $duration ease;
    }

    // default
    @include e(default) {
        background-color: #fff;
    }

    // slide
    @include e(slide) {
        position: absolute;

        @include m(top) {
            top: 0;
            right: 0;
            left: 0;
            transform: translate(0, -100%);
        }

        @include m(right) {
            top: 0;
            right: 0;
            bottom: 0;
            transform: translate(100%, 0);
        }

        @include m(bottom) {
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(0, 100%);
        }

        @include m(left) {
            top: 0;
            left: 0;
            bottom: 0;
            transform: translate(-100%, 0);
        }
    }

    // toast
    @include e(toast) {
        padding: 0.5em 1em;
        background-color: rgba(17, 17, 17, 0.7);
        color: #fff;
        border-radius: 0.25em;
    }

    // alert
    @include e(alert) {
        background-color: #fff;
        width: 80%;
        max-width: 300PX;
        text-align: center;
        border-radius: 0.25em;
    }

    // alert content
    @include e(alert_content) {
        padding: 1em 1em 2em;
        font-size: 1.1em;
    }

    // alert btn
    @include e(alert_btns) {
        display: flex;
        border-top: 1PX solid rgba(204, 204, 204, 0.5);

        >span {
            flex: 1;
            height: 2.8em;
            line-height: 2.8em;
            border-right: 1PX solid rgba(204, 204, 204, 0.5);
            background-color: #f2f2f2;
            font-size: 1em;
            cursor: pointer;

            &:last-child {
                border-right: none;
            }

            &[yes] {
                color: $theme_color
            }
        }
    }

    // title
    @include e(title) {
        padding: 1em 0;
        font-size: 1em;
    }

    // loading
    @include e(loading) {
        padding: 1.2em 1em;
        background-color: rgba(17, 17, 17, 0.7);
        text-align: center;
        font-size: 1.1em;
        color: #fff;
        border-radius: 0.4em;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: top;
            background: url($icon_loading) no-repeat;
            background-size: 100%;
            width: 40PX;
            height: 40PX;
            animation: stepLoading 1s steps(12, end) infinite;
        }

        >p {
            min-width: 5em;
            margin-top: 0.5em;
        }
    }


    /*** 动画效果 与 options.animate 同名 ***/

    // fade
    @include e(fade) {
        opacity: 0;

        @include m(in) {
            opacity: 1;
        }
    }

    // scale
    @include e(scale) {
        transform: scale(0.01);

        @include m(in) {
            transform: scale(1);
        }
    }

    // slide
    @include e(slide) {
        @include m(in) {
            transform: translate(0, 0)
        }
    }

    // up
    @include e(up) {
        position: absolute;
        bottom: 0;
        transform: translateY(200%);

        @include m(in) {
            bottom: 30%;
            transform: translateY(0);
        }
    }

}

@keyframes stepLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}